body {
  font-family: Arial, sans-serif;
  background: url("https://i.pinimg.com/originals/44/1f/7a/441f7a387237d3b47f45841ef9501200.png")
    no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.promptBenvenuto {
  color: #771ae9; /* Cambia il colore con quello che preferisci */
}

.prompt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(
    237,
    231,
    231,
    0.801
  ); /* sfondo bianco con trasparenza */
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  min-height: 80px;
  font-size: 18px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  line-height: 1.5; /* Aggiungi questa proprietà per un'interlinea più ampia */
  font-family: "Special Elite", cursive; /* Font Special Elite */
}

.motivational-quotes {
  position: fixed; /* Cambia da absolute a fixed */
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-end; /* Mantieni l'allineamento a destra */
}

/* Posizionamento fisso della frase motivazionale in basso a destra */
#motivationalQuote {
  position: fixed; /* Posizione fissa */
  bottom: 20px; /* Aggiungi uno spazio dal basso */
  right: 20px; /* Aggiungi uno spazio dalla destra */
  background-color: rgba(51, 51, 51, 0.8); /* Colore grigio trasparente */
  color: white;
  padding: 10px;
  border-radius: 8px;
  width: 500px; /* Imposta una larghezza fissa */
  height: 50px; /* Imposta un'altezza fissa */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  box-sizing: border-box;
  word-wrap: break-word; /* Permette al testo di andare a capo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Ingrandimento al passaggio del mouse */
#motivationalQuote:hover {
  transform: scale(1.05); /* Ingrandisce il box del 5% al passaggio del mouse */
}

.bubbles {
  position: absolute;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.bubble {
  width: 100px;
  height: 100px;
  background-color: rgba(51, 51, 51, 0.8); /* Colore grigio trasparente */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px; /* Ridotta leggermente la dimensione del testo */
  text-align: center;
  padding: 5px; /* Aggiunto padding per testo centrato */
  word-wrap: break-word; /* Permette al testo di andare a capo */
}

.bubble:hover {
  transform: scale(1.1); /* Ingrandisce la bolla del 10% */
}

.change-background-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  background-color: rgba(51, 51, 51, 0.8); /* Colore grigio trasparente */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.change-background-icon img {
  width: 30px;
  height: 30px;
}

.change-background-icon:hover {
  transform: scale(1.1); /* Ingrandisce del 10% */
}
