body {
  font-family: Arial, sans-serif;
  background: url("https://i.pinimg.com/originals/44/1f/7a/441f7a387237d3b47f45841ef9501200.png")
    no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.promptBenvenuto {
  color: #771ae9;
}

.prompt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(
    237,
    231,
    231,
    0.801
  ); /* sfondo bianco con trasparenza */
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  min-height: 80px;
  font-size: 18px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  line-height: 1.5;
  font-family: "Special Elite", cursive;
}

.motivational-quotes {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-end;
}

/* Posizionamento fisso della frase motivazionale in basso a destra */
#motivationalQuote {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
  padding: 10px;
  border-radius: 8px;
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  box-sizing: border-box;
  word-wrap: break-word;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Ingrandimento al passaggio del mouse */
#motivationalQuote:hover {
  transform: scale(1.05); /* Ingrandisce il box del 5% al passaggio del mouse */
}

.bubbles {
  position: absolute;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.bubble {
  width: 100px;
  height: 100px;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  text-align: center;
  padding: 5px;
  word-wrap: break-word;
}

.bubble:hover {
  transform: scale(1.1); /* Ingrandisce la bolla del 10% */
}

.change-background-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  background-color: rgba(51, 51, 51, 0.8);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.change-background-icon img {
  width: 30px;
  height: 30px;
}

.change-background-icon:hover {
  transform: scale(1.1); /* Ingrandisce del 10% */
}

/* Media Query per iPhone */
@media (max-width: 768px) {
  /* Posizionamento delle bolle in due colonne sopra i prompt */
  .bubbles {
    display: grid; /* Usa il grid layout per disporre le bolle in due colonne */
    grid-template-columns: repeat(2, 1fr); /* Due colonne di uguale larghezza */
    gap: 15px; /* Spazio tra le bolle */
    justify-items: center; /* Centra le bolle orizzontalmente */
    position: absolute; /* Mantieni la posizione assoluta */
    top: 20%; /* Posizione sopra i prompt */
    left: 50%; /* Centrato orizzontalmente */
    transform: translateX(-50%); /* Centra esattamente */
    z-index: 1; /* Imposta un valore di z-index per mantenerle sopra gli altri elementi */
  }

  /* Frase motivazionale centrata in basso */
  #motivationalQuote {
    position: fixed; /* Posizione fissa */
    bottom: 20px; /* Spazio dal basso */
    max-width: 90%; /* Massima larghezza al 90% dello schermo */
    font-size: 14px; /* Riduci la dimensione del testo per dispositivi piccoli */
    padding: 10px;
    text-align: center;
    background-color: rgba(51, 51, 51, 0.8); /* Colore grigio trasparente */
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    word-wrap: break-word; /* Permette al testo di andare a capo */
    line-height: 1.5; /* Aggiungi un po' di spazio tra le righe */
  }

  .prompt {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(
      237,
      231,
      231,
      0.801
    ); /* sfondo bianco con trasparenza */
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    min-height: 80px;
    font-size: 18px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
    font-family: "Special Elite", cursive;
  }
}
